.DS_Store
_build/
target/
target
.mooncakes/
.moonagent/
.repos
..mi
*~
excelize
__pycache__/
*.pyc
.tools
demos*/
!cmd/demos/
!cmd/demos/moon.pkg
!/demos/
!/demos/**
_mbtexcel_check
/mbtexcel_*.xlsx
.openseek/
tools/**/bin/
tools/**/obj/
